         @font-face {
             font-family: 'Shrikhand';
             src: url('/language/Shrikhand-Regular.otf');
         }
         
         html {
             font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         }
         
         header {
             height: 700px;
         }
         
         main {
             font-size: 16px;
         }
         
         body {
             margin: 0;
         }
         
         .img-restaurant {
             height: 100%;
             position: relative;
         }
         
         .tittle-head {
             display: flex;
             flex-direction: row;
         }
         
         .logo-heart {
             text-align: center;
             padding-top: 47px;
         }
         
         .logo-tittle {
             padding-top: 30px;
             width: 50%;
         }
         
         .food {
             padding-top: 30px;
             display: flex;
             flex-direction: column;
             justify-content: center;
             background-color: #f6f6f6;
             position: relative;
             width: 100%;
             border-radius: 50px 50px 0px 0px;
             height: auto;
         }
         
         .french-tittle {
             font-size: 30px;
             display: flex;
             flex-direction: row;
             justify-content: center;
             padding-top: 43px;
             padding-bottom: 10px;
             justify-content: space-around;
         }
         
         .french-text {
             padding-right: 30px;
         }
         
         .tittle {
             text-align: center;
         }
         
         .tittle span {
             border-bottom: #99E2D0 solid 4px;
         }
         
         .block {
             padding-top: 10px;
             display: flex;
             flex-direction: row;
         }
         
         .border {
             overflow: hidden;
             margin: 10px;
             border-radius: 10px;
             background-color: white;
             width: 30%;
             display: flex;
             justify-content: space-between;
             flex-direction: row;
             opacity: 0;
         }
         
         .border {
             animation: slideUp 1s forwards;
         }
         
         .border:nth-child(1) {
             animation-delay: .25s;
         }
         
         .border:nth-child(2) {
             animation-delay: 0.5s;
         }
         
         .border:nth-child(3) {
             animation-delay: 0.75s;
         }
         
         @keyframes slideUp {
             0% {
                 transform: translateY(20px);
             }
             100% {
                 transform: translateY(0px);
                 opacity: 1;
             }
         }
         
         .price {
             align-items: end;
             display: flex;
             padding: 15px 0px;
             padding-top: 7px;
             margin-right: 10px;
             transition-duration: 1000ms;
             & b {
                 overflow: hidden;
                 text-overflow: ellipsis;
                 transition-duration: 1000ms;
             }
         }
         
         footer {
             position: relative;
             clear: both;
         }
         
         .order {
             padding-top: 60px;
             text-align: center;
             padding-bottom: 100px;
         }
         
         .frame-end {
             text-align: center;
             background-color: black;
             color: white;
             display: flex;
             flex-direction: column;
         }
         
         h3 {
             font-family: 'Shrikhand';
             font-size: 20px;
         }
         
         h1 {
             font-family: 'Shrikhand';
         }
         
         h2 {
             font-family: 'Shrikhand';
         }
         
         .order span {
             box-shadow: grey 10px 5px 5px;
             background: linear-gradient(#FF79DA, #9356DC);
             border-radius: 50px 50px;
             padding: 15px 60px 15px 60px;
             color: #f6f6f6;
         }
         
         .border:hover .icon-slide {
             width: 40px;
         }
         
         .border:hover .icon-slide>i {
             transform: rotate(360deg);
         }
         
         .border:after .icon-slide {
             width: 10px;
         }
         
         .flavors {
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             display: block;
             width: 100%;
         }
         
         .icon-slide {
             transition: width 0.5s ease;
             width: 0px;
             align-items: center;
             background-color: #99E2D0;
             color: white;
             display: flex;
             justify-content: center;
             align-items: center;
             i {
                 transition: 0.5s;
             }
         }
         
         .text {
             overflow: hidden;
             text-overflow: ellipsis;
         }
         
         .flavors {
             overflow: hidden;
             text-overflow: ellipsis;
         }
         
         .major b {
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
         }
         
         .major {
             overflow: hidden;
             text-overflow: ellipsis;
         }
         
         .block-price {
             display: flex;
             overflow: hidden;
         }
         
         .contact a {
             text-decoration: none white;
             color: white;
         }
         
         .heart {
             height: 100%;
             width: 100px;
             margin-bottom: auto;
             min-height: 48px;
             display: flex;
             justify-content: center;
             align-items: center;
             cursor: pointer;
             button {
                 height: 100%;
                 background-color: transparent;
                 background-repeat: no-repeat;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 cursor: pointer;
                 border: none;
                 cursor: pointer;
                 overflow: hidden;
                 outline: none;
                 &:focus {
                     .heart-solid {
                         animation: 3s colorin;
                         display: flex;
                     }
                     .heart-regular {
                         display: none;
                     }
                 }
             }
         }
         
         .heart-solid {
             display: none;
             font-weight: 900;
             background-clip: text;
             -webkit-background-clip: text;
             -moz-background-clip: text;
             background-image: linear-gradient(#9356DC, #FF79DA);
             -webkit-text-fill-color: transparent;
         }
         
         i {
             font-size: 22px;
         }
         
         @keyframes colorin {
             0% {
                 visibility: hidden;
                 opacity: 0;
             }
             100% {
                 visibility: visible;
                 opacity: 1;
             }
         }
         
         @media screen and (min-width: 320px) and (max-width: 768px) {
             .starter {
                 display: flex;
                 justify-content: space-between;
                 flex-direction: column;
             }
             header {
                 height: 400px;
             }
             .block {
                 display: flex;
                 justify-content: space-between;
                 flex-direction: column;
             }
             .border {
                 width: auto;
             }
             .french-tittle {
                 justify-content: space-between;
                 margin-left: 15px;
                 padding-top: 0;
             }
             .tittle {
                 text-align: initial;
                 margin-left: 15px;
             }
             h1 {
                 font-size: 24px;
             }
             .logo-heart {
                 padding-top: 13px;
                 margin-right: 20px;
             }
             .logo-tittle {
                 padding-top: 20px;
             }
             .tittle-head {
                 margin: 0;
                 padding: 0;
                 width: 50%;
             }
             .frame-end {
                 text-align: initial;
             }
             h2 {
                 margin-left: 15px;
                 font-size: 30px;
             }
             .end {
                 margin-left: 15px;
             }
             h3 {
                 margin-left: 15px;
             }
         }